html {
  background-color: teal;
}

#house {
  text-align: center;
  margin-top: 50px;
}

header {
}
footer {
  background-color: teal;
}

li {
  list-style-type: none;
}

footer {
  margin-top: 50px;

}
